$white: #E9EAF4;
$black: #07091C;
$accent: #3C43E6;

$header-family: "Playfair Display", serif;
$header-weight: 800;
$header-line-height: 1.3em;

$body-family: "Manrope", sans-serif;
$body-weight: 475;
